{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block meta %}
<title>About Us | Attomik Digital Agency</title>
<meta property="og:title" content="About Us | Attomik Digital Agency">
<meta name="description" content="At Attomik, we have experience building an extensive number of projects across many industries. We are here to help you develop your next big project.">
<meta property="og:description" content="At Attomik, we have experience building an extensive number of projects across many industries. We are here to help you develop your next big project.">
{% endblock %}
{% block content %}

<div class="block block-inverse  app-header"
     style="background-image: url({% static 'blog/assets/img/bg1.jpg' %});">

  <div class="container py-4 fixed-top app-navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-toggleable-sm">
    <button
      class="navbar-toggler navbar-toggler-right hidden-md-up"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-auto" href="{% url 'blog:index' %}">
      <img src="{% static 'blog/assets/img/physics.svg' %}" style="width:20px" alt="attomik coding">
      Attomik
    </a>

    <div class="hidden-sm-down text-uppercase">
      <ul class="navbar-nav">
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:index' %}">Home</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:about' %}">About</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:work' %}">Work</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:blog' %}">Blog</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:hire' %}">Let's Talk</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>

<div class="block block-bordered-lg">
  <div class="container text-center app-translate-15" data-transition="entrance">
    <blockquote class="pull-quote">
      <p>
        The right <span class="text-primary">digital partner</span> with extraordinary developers, engineers and designers
      </p>
    </blockquote>
  </div>
</div>


<div class="block block-bordered-lg pb-0 app-block-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6 text-center">
        <h1>More About Us</h1>
        <img
          src="{% static 'blog/assets/img/startup-02.svg' %}"
          class="app-translate-5"
          data-transition="entrance"
          style="width:100%">
      </div>
      <div class="col-lg-5 col-md-6 text-center text-md-left pb-5">
        <p class="lead">
          We have experience building an extensive number of projects across many industries. We are here to help you develop your next big project no matter what it is.
        </p>
        <div class="row my-4">
          <div class="col-6 mb-3">
            <div class="statcard">
              <h2 class="statcard-number block-title" style="font-size:42px">50+</h2>
              <span class="statcard-desc">Websites</span>
            </div>
          </div>
          <div class="col-6 mb-3">
            <div class="statcard">
              <h2 style="font-size:42px" class="statcard-number block-title">30+</h2>
              <span class="statcard-desc">Mobile Apps</span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6 mb-3">
            <div class="statcard">
              <h2 style="font-size:42px" class="statcard-number block-title">20+</h2>
              <span class="statcard-desc">Digital Strategies</span>
            </div>
          </div>
          <div class="col-6 mb-3">
            <div class="statcard">
              <h2 style="font-size:42px" class="statcard-number block-title text-primary">97%</h2>
              <span class="statcard-desc">Satisfaction</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block block-inverse app-high-praise"
     style="background-image: url({% static 'blog/assets/img/tal.png' %});">
    <div class="container">
      <div class="row app-align-center py-3">
        <div class="col-sm-5 push-sm-7 py-5">
          <h6 class="text-muted text-uppercase mb-2">Our team</h6>
          <h3 class="mb-4">Developers hand picked by developers, not recruiters</h3>
        </div>
      </div>
  </div>
</div>
<div class="block block-bordered-lg ">
  <div class="col-sm-8 offset-sm-2">
    <p class="lead mx-auto text-center">
      Our developers and designers have deep experience building complex projects and are leaders in their expertise areas
    </p>
    <br>
    <br>
    <div class="row my-4">
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <span class="fa fa-users text-primary"></span>
          </div>

          <h3>Community Leaders</h3>
          <p>
            Oue network members are leaders in developer communities like AngularJS, GO, Python and many more.
          </p>
        </li>

        <li>
          <div class="featured-list-icon">
            <span class="fa fa-code text-primary"></span>
          </div>
          <h3>Hackathons Won</h3>
          <p>
            A team of winners. At Attomik you find the people who stands out over the crowd.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <span class="fa fa-trophy text-primary"></span>
          </div>

          <h3>Company awards</h3>
          <p>
            Apps and sites built by our members have been recognized by some of the best companies.
          </p>
        </li>

        <li>
          <div class="featured-list-icon">
            <span class="fa fa-microchip text-primary"></span>
          </div>
          <h3>Robots Built</h3>
          <p>
            Not only software but also hardware, our developers can thrive in a lot of areas and help you with any project.
          </p>
        </li>
      </ul>
    </div>
  </div>
  </div>
</div>
<div class="block block-bordered">
  <div class="container">
    <div class="row app-align-center">

      <div class="col-sm-5 hidden-sm-down">
        <div class="imgborder s1 s3" 
        style="background-image:url('{% static 'blog/assets/img/ben.png' %}');
        width:100%;
        height:300px;
        background-size:cover;
        background-position:center
        ">
        </div>
      </div>

      <div class="col-md-6 offset-md-1 col-sm-12 offset-sm-0">
        <h6 class="text-muted text-uppercase">Out Team</h6>
        <h3>Why Us</h3>
        <p class="mb-4 text-justify">
            At  Attomik,  we’re all about the experience. We design simple, compelling, and functional digital strategies that make it easy for users to quickly find exactly what they’re looking and then convert them into customers. It’s about creating a online experience that transforms users into followers and customers into ambassadors.
            <br><br>
            We do this by listening to you, understanding your target audience, and putting our extensive online knowledge to work on a plan that will improve your business goals and change the way you think about the potential of the internet.
        </p>
        <!--<div class="row hidden-md-down">
          <div class="col-sm-6 mb-3">
            <h5>Data frequency</h5>
            <p>We’ve formed a compact, close-knit team of highly effective A+ players, each with expansive knowledge of his/her realm, and unparalleled attention to detail. <a href="#" class="text-primary">Learn more.</a></p>
          </div>
          <div class="col-sm-6">
            <h5>Reliability &amp; uptime</h5>
            <p>We process our data across a massively distributed network of reliable servers to ensure 99.99% uptime, always. <a href="#" class="text-primary">Learn more</a>.</p>
          </div>
        </div>-->
      </div>
    </div>

  </div>
</div>
<div class="block app-price-plans">
  <div class="container text-center">

    <div class="row mb-5">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h6 class="text-muted text-uppercase mb-2">Attomik</h6>
        <h3>We are the right partner to help you get your projects from 0 to 1</h3>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-4 col-md-4 px-4 pb-2 mb-5">

        <a href="{% url 'blog:hire' %}" class="btn btn-lg btn-primary btn-block">
          Talk to us
        </a>
      </div>
    </div>

  </div>
</div>

{% endblock %}`