<!DOCTYPE html>
<html lang="en">
  <head>

    {% load staticfiles %}

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Attomik is the digital agency that helps great companies with their digital needs. The right team for you software development, seo, and marketign needs">
    <meta name="keywords" content="attomik, digital agency, digital, agancy, seo, marketing, software, developers, designers">
    <meta name="author" content="Attomik">

    <title>
      
        Attomik - A New York Digital Agency

    </title>

    <!-- Google Apps -->
    <meta name="google-site-verification" content="knlWMbC7_CWUmg1AiH9x23F-NwO91wtSvBtY2BHYaVg" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'blog/assets/img/physics2.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'blog/assets/img/physics2.png' %}" type="image/x-icon">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Styles -->
    <link href="{% static 'blog/assets/css/toolkit-startup.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/css/application-startup.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'blog/assets/css/animate.css' %}" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      /* …curses ios, etc… */
      @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
        body {
          width: 1px;
          min-width: 100%;
          *width: 100%;
        }
        #stage {
          height: 1px;
          overflow: auto;
          min-height: 100vh;
          -webkit-overflow-scrolling: touch;
        }
      }
    </style>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-96929433-1', 'auto');
      ga('send', 'pageview');

    </script>

  </head>


<body>

<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
    <li class="nav-header">Main</li>
    <li class="nav-item">
      <a href="{% url 'blog:hire' %}" class="nav-link">Hire</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'blog:talent' %}" class="nav-link">Talent</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'blog:about' %}" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a href="https://medium.com/@TeamAttomik" class="nav-link">Blog</a>
    </li>
    <li class="nav-divider"></li>
    <li class="nav-header">Extras</li>
    <li class="nav-item">
      <a class="nav-link" href="mailto:hello@attomik.com">Contact</a>
    </li>
  </ul>
</div>

<div class="stage" id="stage">

  {% block content %}
  {% endblock %}

  <div class="block block-inverse app-footer">
   <div class="container">
      <div class="row">
        <div class="col-md-5 mb-5">
          <ul class="list-unstyled list-spaced">
            <li class="mb-2"><h6 class="text-uppercase">About</h6></li>
            <li class="text-muted">
               Attomik helps partners with great companies to help them develop their next big digital project. Want to learn more? Send us an email to <a href="mailto: themes@getbootstrap.com">hello@attomik.com</a>.
            </li>
          </ul>
        </div>
        <div class="col-md-2 offset-md-3">
          <ul class="list-unstyled list-spaced">
            <li class="mb-2"><h6 class="text-uppercase">Main</h6></li>
            <li class="text-muted"><a href="{% url 'blog:hire' %}">Hire</a></li>
            <li class="text-muted"><a href="{% url 'blog:talent' %}">Talent</a></li>
            <li class="text-muted"><a href="{% url 'blog:about' %}">About</a></li>
            <li class="text-muted"><a href="https://medium.com/@TeamAttomik">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-2 mb-5">
          <ul class="list-unstyled list-spaced">
            <li class="mb-2"><h6 class="text-uppercase">Contact</h6></li>
            <li class="text-muted">125 W 24th New York NY 10011</li>
            <li class="text-muted"><a href="mailto:hello@attomik.com">hello@attomik.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

    <script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/tether.min.js' %}"></script>
    <script src="{% static 'blog/assets/js/toolkit.js' %}"></script>
    <script src="{% static 'blog/assets/js/main.js' %}"></script>
    <script src="{% static 'blog/assets/js/application.js' %}"></script>
  </body>
</html>