{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block meta %}
<title>Blog | Attomik Digital Agency</title>
<meta property="og:title" content="Work | Attomik Digital Agency">
<meta name="description" content="In the Attomik blog, you can find great resources to help you plan any digital strategy.">
<meta property="og:description" content="In the Attomik blog, you can find great resources to help you plan any digital strategy.">
{% endblock %}
{% block content %}

<div class="block block-inverse  app-header"
     style="background-image: url({% static 'blog/assets/img/bg1.jpg' %});">

  <div class="container py-4 fixed-top app-navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-toggleable-sm">
    <button
      class="navbar-toggler navbar-toggler-right hidden-md-up"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-auto" href="{% url 'blog:index' %}">
      <img alt="attomik" src="{% static 'blog/assets/img/physics.svg' %}" style="width:20px">
      Attomik
    </a>

    <div class="hidden-sm-down text-uppercase">
      <ul class="navbar-nav">
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:index' %}">Home</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:about' %}">About</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:work' %}">Work</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:blog' %}">Blog</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:hire' %}">Let's Talk</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>



<div class="block text-center">
  <div class="container-fluid">
   <blockquote class="pull-quote">
      <p>
        “Attomik offers not only great digital services, but also great <span class="text-primary">resources</span> to build a better online strategy”
      </p>
      <cite>Louis Aronne, <a href="https://saturdaysession.wine" target="_blank">Saturday Session</a> Founder</cite>
    </blockquote>
  </div>
</div>
<h1 class="text-center mb-5">Attomik Blog</h1>
<div class="block block-bordered">
  <div class="container">
    {% for blog in blog_list %}
    <div class="row app-align-center mb-5">
      <div class="col-sm-8 offset-sm-2">
        <a href="{% url 'blog:blog-post' blog.slug %}"><h2 class="post-title" style="color:black; text-decoration: none;">
          {{blog.title}}
        </h2></a>
        <p class="lead text-justify">
          {{blog.excerpt}}
        </p>
        <a href="{% url 'blog:blog-post' blog.slug %}">
          <p class="lead">Read More</p>
        </a>
        <p class="post-meta">Posted by
          <a href="{% url 'blog:about' %}">Team Attomik</a>
          on {{blog.created_at|date}}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="block app-price-plans">
  <div class="container text-center">

    <div class="row mb-5">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h6 class="text-muted text-uppercase mb-2">Attomik</h6>
        <h3>We are the right partner to help you get your projects from 0 to 1</h3>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-4 col-md-4 px-4 pb-2 mb-5">

        <a href="{% url 'blog:hire' %}" class="btn btn-lg btn-primary btn-block">
          Talk to us
        </a>
      </div>
    </div>

  </div>
</div>

{% endblock %}