<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'blog/assets/css/style.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Lato:700|Roboto" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="{% static 'blog/assets/js/main.js' %}"></script>


  <title>Atomic Labs</title>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="margin-left:40px" href="#"><img src="{% static 'blog/assets/img/logo_atomic.png' %}" style="width:25px"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="jumbotron" style="background-attachment: fixed; background-image: url({% static 'blog/assets/img/bg1.jpg' %}); background-size:cover; color:white">
    <div class="container container-padding">
      <h1>On demand talent</h1>
      <h1>to
        <span
           class="txt-rotate"
           data-period="2000"
           data-rotate='[ "build an app", "make a website", "manage a database", "design a ui/ux", "create a brand" ]'></span>
      </h1>
      <p class="m-t-lg"><a class="btn btn-custom-white-outline" href="#" role="button">I want to hire</a></p>
    </div>
  </div>



  <div class="container container-padding">
    <div class="row text-center">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>The best companies win with the best talent. But great people can be hard to find. We connect you with top freelance experts to help you fuel your success.</h3>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-2 col-xs-offset-5">
      <div class="divider"></div>    
    </div>
  </div>
  

  <div class="container container-padding">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <h2 class="subtitle">A+ Players <i class="fa fa-star-o main-color"></i></h2>
        <!--<p>We simplify your search by connecting the right people with the right companies at the right time</p>-->
      </div>
      <div class="col-sm-5">
        <p class="lead">Our professional network selection process is extensive, and we’ve taken great care to hand-pick only the very best talent. </p>
        <p class="lead">We’ve formed a compact, close-knit team of highly effective A+ players, each with expansive knowledge of his/her realm, and unparalleled attention to detail.</p>
      </div>
    </div>
  </div>


  <div class="jumbotron" style="background-attachment: fixed; background-image: url({% static 'blog/assets/img/bg2.jpg' %}); background-size:cover; color:white">
    <div class="container container-padding">
      <!--<div class="row text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <h3>Full-time and contract opportunities for a modern workforce</h3>
        </div>
      </div>-->
      <div class="row text-center">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="row">
            <div class="col-sm-3">
              <i class="fa fa-code fa-5x"></i>
              <h3>Web Development</h3>
            </div>
            <div class="col-sm-3">
              <i class="fa fa-mobile fa-5x"></i>
              <h3>Mobile Development</h3>
            </div>
            <div class="col-sm-3">
              <i class="fa fa-vcard-o fa-5x"></i>
              <h3>UI/UX<br>design</h3>
            </div>
            <div class="col-sm-3">
              <i class="fa fa-paint-brush fa-5x"></i>
              <h3>Design and Branding</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-padding text-center">
    <div class="row text-center">
      <div class="col-sm-8 col-sm-offset-2 how-to">
        <h3 class="subheader-text">Our Simple Process</h3>
        <h2 class="header-text">This is How it works</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-5">
        <div class="divider"></div>    
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2 how-to">
        <i class="fa fa-volume-up fa-3x main-color"></i>
        <h2>1. Tell us what you need</h2>
        <p>Tell us a bit about your project and what type of talent you’re looking for.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-6 how-to">
      <i class="fa fa-users fa-3x main-color"></i>
        <h2>2. Review the candidates</h2>
        <p>We will connect you with the top candidates for your project in no time</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2 how-to">
      <i class="fa fa-file-text-o fa-3x main-color"></i>
        <h2>3. Hire the right talents</h2>
        <p>Evaluate proposals, portfolios, and skillsets, then hire the best fit for your project.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-6 how-to">
        <i class="fa fa-trophy fa-3x main-color"></i>
        <h2>4. Work and Create</h2>
        <p>Its show time... You own the communication and work style with the selected hire.</p>
      </div>
    </div>
    
  </div>

  <div class="jumbotron" style="background-color: #e84c3d; color: white">
    <div class="container container-padding">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2>Change the way you work</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-padding">
    <div class="row text-center">
      <div class="col-sm-8 col-sm-offset-2 how-to">
        <h3 class="subheader-text">Trusted by</h3>
        <h2 class="header-text">The best companies</h2>
      </div>
    </div>
    <div class="row text-center m-t-lg">
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/beerhouse.png' %}">
      </div>
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/budweiser.png' %}">
      </div>
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/techstars.png' %}">
      </div>
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/zx-ventures.png' %}">
      </div>
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/bevybar.png' %}">
      </div>
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/google.png' %}">
      </div>
    </div>
    <br>
    <div class="row text-center m-t-lg">
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/mercado.png' %}">
      </div>
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/citi.png' %}">
      </div>
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/alley.png' %}">
      </div>
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/uber.png' %}">
      </div>
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/rappi.png' %}">
      </div>
      <div class="col-sm-2">
        <img class="w-50" src="{% static 'blog/assets/img/companies/centraal.png' %}">
      </div>
    </div>
  </div>

  <div class="jumbotron" style="margin-top:130px; background-color:#eaedf1">
    <div class="container container-padding">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h2 class="header-text">We are here to help you <span style="font-weight:700; color:#e84c3d">get shit done</span></h2>
        </div>
      </div>
      <div class="row m-t-lg">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <div class="btn btn-danger">Get Started</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer" style="padding-bottom:25px">
    <div class="row text-center">
      <div class="col-sm-2 col-sm-offset-2">
        <p><b>About</p>
      </div>
      <div class="col-sm-2">
        <p>FAQ</p>
      </div>
      <div class="col-sm-2">
        <p>Terms & Conditions</p>
      </div>
      <div class="col-sm-2">
        <p>Privacy Policy</p>
      </div>
    </div>
  </div>
  
  


  <!--<div class="container second-container">
    <div class="row text-center">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-3">
            <i class="fa fa-code fa-5x"></i>
          </div>
          <div class="col-sm-3">
            <i class="fa fa-mobile fa-5x"></i>
          </div>
          <div class="col-sm-3">
            <i class="fa fa-vcard fa-5x"></i>
          </div>
          <div class="col-sm-3">
            <i class="fa fa-paint-brush fa-5x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>-->


</body>
</html>