{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="block block-inverse  app-header"
     style="background-image: url({% static 'blog/assets/img/bg1.jpg' %});">

  <div class="container py-4 fixed-top app-navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-toggleable-sm">
    <button
      class="navbar-toggler navbar-toggler-right hidden-md-up"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-auto" href="{% url 'blog:index' %}">
      <img src="{% static 'blog/assets/img/physics.svg' %}" style="width:20px">
      Atomic Labs
    </a>

    <div class="hidden-sm-down text-uppercase">
      <ul class="navbar-nav">
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:hire' %}">Hire</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:talent' %}">Talent</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:about' %}">About</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="https://medium.com/@TeamAttomik">Blog</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>

<div class="block block-bordered-lg">
  <div class="container text-center app-translate-15" data-transition="entrance">
    <blockquote class="pull-quote">
      <p>
        An <span class="text-primary">invitation only</span> network of extraordinary developers, engineers and designers
      </p>
    </blockquote>
  </div>
</div>


<div class="block block-bordered-lg pb-0 app-block-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6 text-center">
        <img
          src="{% static 'blog/assets/img/startup-02.svg' %}"
          class="app-translate-5"
          data-transition="entrance"
          style="width:100%">
      </div>
      <div class="col-lg-5 col-md-6 text-center text-md-left pb-5">
        <p class="lead">
          We built an extensive network of software engineers and designers to help you develop your next big project.
        </p>
        <div class="row my-4">
          <div class="col-6 mb-3">
            <div class="statcard">
              <h1 class="statcard-number block-title">200+</h1>
              <span class="statcard-desc">Web Developers</span>
            </div>
          </div>
          <div class="col-6 mb-3">
            <div class="statcard">
              <h1 class="statcard-number block-title">100+</h1>
              <span class="statcard-desc">Mobile Developers</span>
            </div>
          </div>
        </div>
        <div class="row mb-3 hidden-md-down">
          <div class="col-6 mb-3">
            <div class="statcard">
              <h1 class="statcard-number block-title">80+</h1>
              <span class="statcard-desc">Designers</span>
            </div>
          </div>
          <div class="col-6 mb-3">
            <div class="statcard">
              <h1 class="statcard-number block-title text-primary">97%</h1>
              <span class="statcard-desc">Happiness</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block block-inverse app-high-praise"
     style="background-image: url({% static 'blog/assets/img/tal.png' %});">
    <div class="container">
      <div class="row app-align-center py-3">
        <div class="col-sm-5 push-sm-7 py-5">
          <h6 class="text-muted text-uppercase mb-2">Selection process</h6>
          <h3 class="mb-4">Developers hand picked by developers, not recruiters</h3>
        </div>
      </div>
  </div>
</div>
<div class="block block-bordered-lg ">
  <div class="col-sm-8 offset-sm-2">
    <p class="lead mx-auto text-center">
      Our developers and designers have deep experience building complex projects and are leaders in their expertise areas
    </p>
    <br>
    <br>
    <div class="row my-4">
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <span class="fa fa-users text-primary"></span>
          </div>

          <h3>Community Leaders</h3>
          <p>
            Oue network members are leaders in developer communities like AngularJS, GO, Python and many more.
          </p>
        </li>

        <li>
          <div class="featured-list-icon">
            <span class="fa fa-code text-primary"></span>
          </div>
          <h3>Hackathons Won</h3>
          <p>
            A team of winners. At Attomik you find the people who stands out over the crowd.
          </p>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul class="featured-list featured-list-bordered">
        <li class="mb-5">
          <div class="featured-list-icon">
            <span class="fa fa-trophy text-primary"></span>
          </div>

          <h3>Company awards</h3>
          <p>
            Apps and sites built by our members have been recognized by some of the best companies.
          </p>
        </li>

        <li>
          <div class="featured-list-icon">
            <span class="fa fa-microchip text-primary"></span>
          </div>
          <h3>Robots Built</h3>
          <p>
            Not only software but also hardware, our developers can thrive in a lot of areas and help you with any project.
          </p>
        </li>
      </ul>
    </div>
  </div>
  </div>
</div>
<div class="block app-price-plans">
  <div class="container text-center">

    <div class="row mb-5">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h6 class="text-muted text-uppercase mb-2">Attomik</h6>
        <h3>The extra hands you need to get your projects from A to Z</h3>
      </div>
    </div>

    <div class="row">
      <div class="offset-md-4 col-md-4 px-4 pb-2 mb-5">

        <a href="{% url 'blog:hire' %}" class="btn btn-lg btn-primary btn-block">
          Hire now
        </a>
      </div>
    </div>

  </div>
  </div>

{% endblock %}`