{% extends 'blog/base.html' %}
{% load staticfiles %}
<title>Thanks | Attomik Digital Agency</title>
<meta name="description" content="Attomik is the digital agency that helps great companies with their digital needs. The right team for you software development, seo, and marketign needs">
<meta property="og:description" content="Attomik is the digital agency that helps great companies with their digital needs. The right team for you software development, seo, and marketign needs">
{% endblock %}
{% block content %}

<div class="block block-inverse  app-header"
     style="background-image: url({% static 'blog/assets/img/bg1.jpg' %});">

  <div class="container py-4 fixed-top app-navbar">
  <nav class="navbar navbar-transparent navbar-padded navbar-toggleable-sm">
    <button
      class="navbar-toggler navbar-toggler-right hidden-md-up"
      type="button"
      data-target="#stage"
      data-toggle="stage"
      data-distance="-250">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mr-auto" href="{% url 'blog:index' %}">
      <img src="{% static 'blog/assets/img/physics.svg' %}" style="width:20px">
      Attomik
    </a>

    <div class="hidden-sm-down text-uppercase">
      <ul class="navbar-nav">
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:about' %}">About</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:work' %}">Work</a>
        </li>
        <li class="nav-item px-1 ">
          <a class="nav-link" href="{% url 'blog:hire' %}">Let's Talk</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>



<div class="block block-fill-height text-center">
  <div class="block-xs-middle">
    <div class="container-fluid">
    <img src="{% static 'blog/assets/img/physics.svg' %}" style="width:50px">
     <blockquote class="pull-quote">
        <p>
          Thank you! We'll be in touch soon!
        </p>
      </blockquote>
    </div>
  </div>
</div>

{% endblock %}