body {
	font-family: 'Lato', sans-serif;
}

h1{
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -3px;
}

h3 {
	font-weight: 100;
	letter-spacing: 2px;
	line-height: 35px;
}

.w-full {
	width: 100%;
}

.w-50 {
	width: 50%;
}

.main-color {
	color: #e84c3d
}

.m-t{
	margin-top: 30px;
}

.m-t-lg{
	margin-top: 60px;
}

.navbar {
    margin-bottom: 0px;
}

.container-padding{
	padding-top: 90px;
	padding-bottom: 90px;
}

.how-to {
	padding: 50px 0px 50px;
}

.how-to p {
	font-size: 20px;
	font-weight: 100;
	line-height:35px;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: #e84c3d;
	margin: 0 auto;
}

.subtitle {
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 50px 0px 50px;
}


.btn-custom-white-outline {
	background: rgba(255, 255, 255, 0); 
	border-color: rgba(255, 255, 255, 1); 
	color: rgba(255, 255, 255, 1); 
	font-size: 20px; 
	border-radius: 5px; 
	border-width: 3px;
}

.btn-custom-white-outline:hover {
	background: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
}

.btn-custom-white-outline:active, .btn-custom-white-outline:focus {
	background: rgba(255, 255, 255, 0);
	border-color: rgba(255, 255, 255, 1);
	color: rgba(255, 255, 255, 1);
}

.subheader-text {
	
	font-weight: 300;
	color: #777777;
	letter-spacing: -1px;
}

.header-text {
	text-transform: uppercase;	
}

.footer{
	color: #777777
}

