{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block bread_crumbs %}
<h3 class="text-themecolor m-b-0 m-t-0">SEO Checklist</h3>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item">User Acquisition</li>
    <li class="breadcrumb-item">SEO</li>
    <li class="breadcrumb-item active">Checklist</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card text-justify">
            <div class="card-body">
                <h4 class="card-title">SEO Checklist</h4>
                <h6 class="card-subtitle">Use this tool to do an analysis for SEO on your site</h6>
                <div class="form-group row">
                  <label for="example-text-input" class="col-6 col-form-label">Your Title Tag should clarify who you are and what you are.</label>
                  <div class="col-6">
                    <select class="custom-select col-12" id="inlineFormCustomSelect">
                        <option selected="">Choose...</option>
                        <option value="1">No</option>
                        <option value="2">Yes</option>
                        <option value="3">In Progress</option>
                    </select>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}